.form-login {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}

.form-login-1 {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center; 
}

.form-login-2 {
  align-self: center;
  margin: auto;
  width: 400px;
  height: auto;
  background-color: rgb(173, 165, 154);
  border: 1px solid grey;
	border-radius: 10px;
  padding-right: 35px;
  padding-top: 15px;
  /* opacity: 0.8; */

}

.form-login-2 h2 {
  text-align: center;
}

.mg-5 {
  margin: 5px;
}

.submit-login {
  margin: 6px;
  width: 286px;
  text-align: center;
}